// Import page-specific CSS files here.
@import "home";
@import "auth";
@import "profile";
@import "home";
@import "auth";
@import "profile";
@import "leaderboard";

.run-location-link {
  color: #ff4d00;
  text-decoration: underline;
  font-size: 12px;
}

.run-location-link:hover {
  color: #cc3d00;
}
